
.gift-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    /* font-weight: 500; */
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 0px  20px;

}