.date-layout {
    display: flex;
    background-color: white;
    color:#585858;
    font-size: 40px;
    font-family: 600;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    width: 100%;
}


.date-layout >p {
    padding: 2em;
    width: 49%;
}

.divider {
    width: 1px;
    height: 200px;
    background-color: #585858;
}

.left-date {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 510px) {
    .date-layout > p {
        padding: 1em;
    }
}